<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapping.OrderDetailMapper">
	<resultMap id="BaseResultMap" type="com.pojo.OrderDetail">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="orderId" property="orderId" jdbcType="INTEGER" />
		<result column="goodId" property="goodId" jdbcType="INTEGER" />
		<result column="count" property="count" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, orderId,  count,
		goodId
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_order_detail
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="findOrderDetailCountByWhere" resultType="java.lang.Long"
		parameterType="com.pojo.OrderDetail">
		select
		count(1)
		from t_order_detail
		where 1=1
		<if test="id != null and id != ''">
			and ID = #{id}
		</if>
		<if test="orderId != null and orderId != ''">
			and orderId like CONCAT('%',#{orderId},'%' )
		</if>
		<if test="count != null and  count != ''">
			and count = #{count}
		</if>
		<if test="goodId != null and goodId != ''">
			and goodId = #{goodId}
		</if>
	</select>

	<select id="selectOrderDetailByWhere" resultMap="BaseResultMap"
		parameterType="com.pojo.OrderDetail">
		select
		orderId , goodName ,price , count 
		from t_order_detail
		where 1=1
		<if test="id != null and id != ''">
			and ID = #{id}
		</if>
		<if test="orderId != null and orderId != ''">
			and orderId like CONCAT('%',#{orderId},'%' )
		</if>
		<if test="count != null and  count != ''">
			and count like CONCAT('%',#{count},'%' )
		</if>
		<if test="goodId != null and goodId != ''">
			and goodId = #{goodId}
		</if>
	</select>

	<select id="selectByWhere" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		 productname ,price , count ,producttype
		from t_order_detail d , goods g  
		where 1=1
		<if test="id != null and id != ''">
			and d.ID = #{id}
		</if>
		<if test="orderId != null and orderId != ''">
			and d.orderId like CONCAT('%',#{orderId},'%' )
		</if>
		<if test="count != null and  count != ''">
			and d.count like CONCAT('%',#{count},'%' )
		</if>
		<if test="goodId != null and goodId != ''">
			and d.goodId = #{goodId}
		</if>
		<if test="q != null and q != ''">
			and d.orderId like #{q}
		</if>

	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_order_detail
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.pojo.OrderDetail">
		insert into t_order_detail(ID, orderId, 
		count, goodId)
		values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER},
		#{count,jdbcType=INTEGER},
		#{goodId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.pojo.OrderDetail">
		insert into t_order_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="orderId != null">
				orderId,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="goodId != null">
				goodId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="goodId != null">
				#{goodId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.pojo.OrderDetail">
		update t_order_detail
		<set>
			<if test="orderId != null">
				orderId = #{orderId,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="goodId != null">
				goodId = #{goodId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.pojo.OrderDetail">
		update t_order_detail
		set orderId = #{orderId,jdbcType=INTEGER},
		count = #{count,jdbcType=INTEGER},
		goodId = #{goodId,jdbcType=INTEGER},
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	 <insert id ="insertCodeBatch" parameterType="java.util.List" >
 3             <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
 5                 SELECT LAST_INSERT_ID()
 6             </selectKey >
 7            insert into t_order_detail
 8            (id , orderId, goodId, count )
 9            values
10             <foreach collection ="list" item="detail" index= "index" separator =",">
11                 (
12                 #{detail.id}, #{detail.orderId},
13                 #{detail.goodId},
14                 #{detail.count}
16                 );
17             </foreach >
18      </insert >
</mapper>